.env
data/*.sqlite
data/*.sqlite-wal
data/*.sqlite-shm
.git
.gitignore
bin
dist
*.test
cover.out
.idea
.vscode
downloads/**/*.zip
downloads/**/*.7z
downloads/**/*.rar
downloads/**/*.mpq
downloads/**/*.exe
downloads/**/*.patch
